body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: white;
  font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}

.container {
margin: 0 auto;
max-width: 1200px;
padding: 0 15px;
}

a {
  color: inherit;
}

button {
    cursor: pointer;
  color: inherit;
}


:root {
  --active-color: #2196f3;
  --logo-header: black;
  --logo-footer: white;
  --logo-web: #2196f3;
  --first-color: white;
  --second-color: #757575;
  --first-background-color: #2f303a;
  --main-btn: #2196f3;
  --second-background-color: #f5f4fa;
  --photos-background: #ffffff;
  --address: white;
  --btns: white;
}

.logo-header {
  color: var(--logo-header);
}

.logo-web {
  color: var(--logo-web);
}

.text-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.no-dots {
  list-style: none;
}

.navflex {
    display: flex;
    align-items: center;
}

.navgap {
    gap: 46px;
}

.head-contact-style {
display: flex;
align-items: center;
}

.mail-head-style {
    margin-right: 50px;
}

.nav {
  text-decoration: none;
}

.logoflex {
    padding-top: 32px;
    padding-bottom: 32px;
}

.navstyle {
    margin-left: 93px;
    margin-right: 371px;
}

.nav:hover,
.nav:focus {
  color: var(--active-color);
}

.header-contact {
  color: var(--second-color);
  text-decoration: none;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--active-color);
}

.hero {
  background-color: var(--first-background-color);
  color: var(--first-color);
}

.heroflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-contact {
  text-decoration: none;
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--active-color);
}

.main-btn {
  background-color: var(--main-btn);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  margin-bottom: 200px;
  padding: 10px 42px 10px 41px;
}

.p-content {
  color: var(--second-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.profession {
  color: var(--second-color);
}

.text-prof {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.photos {
  background-color: var(--photos-background);
}

.footer {
  background-color: var(--first-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--logo-footer);
}

.address {
  color: var(--address);
  letter-spacing: 0.03em;
  font-style: normal;
  padding-top: 20px;
}

.address-contact {
  color: rgba(255, 255, 255, 0.6);
}

.text-footer {
  line-height: 1.71;
}

.portf-btns {
  background: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
}

.portf-btns:hover,
.portf-btns:focus {
  background-color: var(--active-color);
  color: var(--btns);
}

.webstudio-header {
  font-family: "Raleway";
  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  width: 145px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.webstudio-footer {
  font-family: "Raleway";
  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  width: 145px;
  padding-top: 20px;
}

/* only efefective solutions */
.h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  padding-top: 200px;
  padding-bottom: 30px;
  max-width: 696px;
  text-align: center;
}

.h2-whatwedo {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.h2-our-team {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.upper-p {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}
/* portfolio main */
.h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.headerstyle {
    display: flex;
    justify-content: center;
}

.text-style {
    display: flex;
}

.what-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-whatwedo {
display: flex;
gap: 30px;
}

.our-team {
    background-color: var(--second-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-ourteam {
    display: flex;
    gap: 30px;
}

.czymsiezajmujemy-style {
    margin-top: -94px;
}

.figcaption-style {
    padding: 30px 0;
    text-align: center;
}

.li-ourteam {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

